.container {
  max-width: 700px;
  margin: 0 auto;
  .action_button {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 27px;
    margin-bottom: 16px;

    a {
      width: 158px;
      font-weight: 700;
    }

    .settings_button {
      background-color: #F3F3F3;
      color: #000000;
    }

    .subscribe_button {
      background-color: #64990D;
      color: white;
    }

    .unsubscribe_button {
      background-color: #F3F3F3;
      color: #000000;
    }
  }

}