.logo {
    height: 30px;
}

.container-fluid {
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
}

.phone {
    width: 300px;
    grid-row: 1/3;
    align-self: center;
    justify-self: end;
}

.main_block {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.title {
    font-size: 32px;
    justify-self: start;
    align-self: end;
    font-weight: 900;
}

.description {
    justify-self: end;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel {
    margin: 36px 0;
}

.content-block {
    display: grid;
    grid-template-areas:
                        'text photo'
                        'button photo';
    gap: 16px;
    margin: 36px 0;
    
}

.content-block-photo {
    width: 500px;
    object-fit: cover;
    height: 500px;
    grid-area: photo;
}

.content-block-text {
    align-self: self-end;
    grid-area: text;
}

.content-block-button {
    grid-area: button;
    align-self: self-start;
}

.footer {
    padding: 40px 0;
    margin: 0;
    color: rgba(168, 168, 168, 1);
    font-size: 13px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin-bottom: 10px;
}

.footer-link {
    color: rgb(59, 59, 59);
    text-decoration: none;
}

.footer-content {
    margin: 0 auto;
    max-width: 1000px;
}

body {
    min-height: 100vh; 
    margin: 0; 
  
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.button {
    background-color: #007CBE;
    color: white;
    width: 180px;
    height: 40px;
    padding: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

.button:hover {
    background-color: #00659c;
    color: white;
    width: 180px;
    height: 40px;
    padding: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

@media (max-width: 1000px) {
    .content {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1000px;
    }

    .content-block {
        display: grid;
        grid-template-areas:
                            'photo'
                            'text'
                            'button';
        gap: 16px;
        margin: 36px 0;
    }

    .content-block-photo {
        width: 400px;
        object-fit: cover;
        height: 400px;
        grid-area: photo;
        justify-self: center;
    }
    
    .phone {
        width: 220px;
        grid-row: 1/3;
        align-self: center;
        justify-self: end;
    }    

    .footer-content {
        margin: 0 auto;
        max-width: 1000px;
        padding: 0 20px;
    }

    .logo {
        height: 30px;
        margin-right: 16px;
    }
}

