.passwordField {
    width: 100%;
    display:flexbox;

    .textField {
        position: relative;
        display: flex;

        
    }
      
    .textField::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        width: 20px;
        background: url("../../../public/icons/eye-slash.svg") right / contain no-repeat;
        
    }
}



