@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young Serif:wght@400;500;600;700&display=swap');

.posts {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

/* Адаптив */

.content {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 100px;
}

@media (min-width: 650px) {
    .content {
        margin: 0 5%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

@media (min-width: 840px) {
    .content {
        margin: 0 16%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1000px) {
    .content {
        margin: 0 20%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1200px) {
    .content {
        margin: 0 26%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1400px) {
    .content {
        margin: 0 32%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

