.posts {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

/* Адаптив */

.content {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 100px;
}

@media (min-width: 650px) {
    .content {
        margin: 0 5%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

@media (min-width: 840px) {
    .content {
        margin: 0 16%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1000px) {
    .content {
        margin: 0 23%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1200px) {
    .content {
        margin: 0 27%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1400px) {
    .content {
        margin: 0 33%;
        margin-top: 24px;
        margin-bottom: 100px;
    }
}

