.content {
  margin: 9px 14px 0 14px;
  margin-bottom: 16px;

  .username {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px;
  }

  .description {
    font-size: 13px;
    font-weight: 400;
  }
}


