.user_label {
    align-items: center;
    display: flex;
    gap: 10px;

    .user_label_avatar img {
        object-fit: cover;
        border-radius: 50%;
    }

    .user_label_text {
        display: block;

        .user_label_text_name {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
        }
        
        .user_label_text_date {
            font-size: 10px;
            font-weight: 100;
            color: rgba(168, 168, 168, 1);
            line-height: 17px;
        }

    }

    
}