.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 27px;
  position: fixed;
  bottom: 10px;
  margin: 0 auto;
  width: 350px;
  height: 47px;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 33px;

  a {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
  }
}